#root {
  font-family: 'Karla', Arial, sans-serif;
  line-height: 1.8;
  font-size: 16px;
  font-weight: 400;
  /* background: #fafafa; */
  color: gray;
  height: 100% !important;
  width: 100% !important;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
